.body {
    background-color: rgb(0, 170, 255);
    font-family: Arial, sans-serif;
}
section.mt-5 {
    background-size: cover;
    background: fixed;
    background-color: rgb(231, 124, 10);
    background-image: linear-gradient(to right, rgb(231, 124, 10), rgb(255, 170, 0));
    margin-top: 5px;
    b
}
.h3 {
    color: rgb(32, 135, 151);
    text-align: center;
    font-size: 30px;
}
