table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #000000;
	text-align: center;
	background-color:#71f300; 
}
<td style="color:#00FF00; background-color:sienna;">. 
th 
	text-align: center;
	color: #ffffff;
	background-color: #003366;

	
	ol {
		padding-left: 30px;
		font-weight: bold;
		color: #90c1f1;
	  }
	  
	  ul {
		list-style-type: circle;
		padding-left: 30px;
		color: #0080ff;
	  }


	  body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
	  }
	  
	  nav {
		background-color: #2e3237;
		padding: 15px;
		color: rgb(160, 173, 130);
		display: flex;
		align-items: center;
	  }
	  
	  nav a {
		color: rgb(122, 175, 159);
		text-decoration: none;
		margin: 0 15px;
	  }
	  
	  nav a:hover {
		text-decoration: underline;
	  }
	  
	  .container {
		padding: 40px;
	  }
	  
	  h1 {
		font-size: 40px;
	  }
	  
	  h2 {
		font-size: 30px;
		margin-top: 30px;
	  }
	  
	  ol {
		padding-left: 25px; /* Property for ordered list */
	  }
	  
	  ul {
		list-style-type: square; /* Property for unordered list */
	  }
	  
	  footer {
		margin-top: 50px;
		text-align: center;
		font-size: 14px;
	  }
	  
	  footer a {
		color: #ff0000;
		text-decoration: none;
	  }
	  
	  