@import url(rainbow.css);
table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	letter-spacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
/* unvisited link */
a:link {
	color: #FF0000;
  }
  
  /* visited link */
  a:visited {
	color: #00FF00;
  }
  
  /* mouse over link */
  a:hover {
	color: #FF00FF;
  }
  
  /* selected link */
  a:active {
	color: #0000FF;
  }