body {
    font-family: Arial, monospace;
    margin: 0;
    padding: 0;
    background-color: #9d0000;
    color: #868686;
}

h1 {
    color: #616161;
    text-align: center;
}

h2 {
    color:#616161
}

a {
    text-decoration: none;
    color: #ff9c9c;
    text-align: left;
}

a:hover {
    color: #ffffff;
}

li {
    color: #868686;
    font-size: 18px;
    margin-bottom: 10px;
    list-style-type: square;
}
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #868686;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    color:#616161
}