.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button-largeRadius {
	border-radius: 8px;
}

.button-smallRadius {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}

.yellow{
	background-color: yellow;
}

.border{
	border-radius: 20px;
}

.blue{
	background-color: blue;
	height: 40px;
}

.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }

  #hireButtons {
	background-color: rgb(68, 255, 0);
	width: 200px;
  }

  #footerTable {
	background-color: rgb(0, 229, 255);
  }
  *{
    padding: 20px;
	text-decoration:dashed;
	color:brown;

}