/* Part 1: Child Selector */
#knowledge > * {
	border: 3px red solid;
  }
  
  /* Part 2: Adjacent Sibling Selector */
  p + * {
	background-color: #FFFF00;
  }
  
  /* Part 3: Special List Styling */
  .list-items li::marker {
	color: red;
	content: "😜 ";
  }
  
  /* Part 4: Import rainbow.css */
  @import url(rainbow.css);
  
  /* Part 5: User Action Pseudo-Class - Hover only rainbow table */
  .rainbow td:hover {
	background-color: black;
  }
  
  /* Part 6: Extra Pseudo-Classes */
  a:visited {
	color: purple;
  }
  
  input:focus {
	border: 2px solid blue;
  }
  
  li:first-child {
	font-weight: bold;
  }