table {#knowledge > * {p + * {div li::marker{div li::marker{@import url(rainbow.css);td:hover {td:hover {
	background-color: rgb(255, 0, 0);
  }
	background-color: black;
  }
	content:"😜 ";
  }
	color: red;
  }
	background-color: #FFFF00;
  }
	border: 3px red solid;
  }
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}