table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}

background-color: #4CAF50;
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.button1 {
border-radius: 8px;
}

.button2 {
border-radius: 30%;
}

.red {
background-color: #ff0000;
}

td{
padding:20px;
}

table{
margin-left: auto;
margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
text-align:center;
}

.class{
property: value;
}





<a href="#" class="myButton">green</a>

.bt1 {
background-color:#d0451b;
border-radius:28px;
border:1px solid #942911;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:17px;
padding:30px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #854629;
}
.bt1 {
background-color:#bc3315;
}
.bt1:active {
position:relative;
top:1px;
}

<a href="#" class="myButton">green</a>

.bt2 {
background-color:#79bbff;
border-radius:28px;
border:1px solid #84bbf3;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:17px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
background-color:#e53737;




.title {
color: rgb(225, 44, 31);
font-family: 'Trebuchet MS', sans-serif; 
}

.title-large {
font-size: 2rem;
}

.title-small {
font-size: .5rem;
}
